@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

html,
body {
  font-family: poppins-regular;
  color: white;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(rgba(32, 0, 32, 1), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* containers */
.library-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    ' header header '
    'main panel';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 360px;
}
/* header */
.library-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.library-header .title {
  font-size: 42px;
  font-weight: bold;
  margin-left: 20px;
}
/* user */
.user {
  margin-right: 20px;
  width: 360px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user .user-name {
  font-size: 20px;
  margin-right: 20px;
}
.user .user-photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}
.user .button {
  border: 0;
  font-size: 22px;
  width: 100px;
  color: #fff;
  height: 40px;
  border-radius: 5px;
  background-color: coral;
}
.user .button:hover,
.user .button:focus {
  background-color: rgb(214, 105, 66);
}

/* panel */
.library-panel {
  overflow: auto;
  padding-top: 40px;
  grid-area: panel;
  width: 360px;
  background-color: rgba(66, 66, 66, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 100px;
}
.library-panel .element {
  width: 80%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.library-panel .element .title {
  font-size: 26px;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.library-panel .element .data {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.library-panel .element .data .info {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.library-panel .element .data .button {
  align-self: center;
  margin: 8px;
  border: 0;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(175, 58, 58, 0.5);
  width: 80%;
  height: 40px;
}
.library-panel .element .data .button:hover,
.library-panel .element .data .button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 58, 58);
}
#creator {
  width: 60%;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-top: 1px solid rgba(42, 0, 42, 0.4);
  border-bottom: 1px solid rgba(42, 0, 42, 0.4);
}

/* main */
.library-main {
  margin: 40px 40px;
  grid-area: main;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-auto-flow: row;
}
/* elements */
.book-container,
.add-button {
  width: 300px;
  height: 400px;
  display: grid;
  justify-items: center;
  background-color: rgba(25, 88, 56, 0.3);
  box-shadow: 0 0 0 4px rgba(60, 59, 60, 0.6);
  border-radius: 10px;
}
/* book */
.book-container:hover {
  cursor: default;
}
.book-container {
  grid-template-rows: 1fr 5fr 1.25fr 1fr;
  overflow: hidden;
}
.book-container .options {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.book-container .options .button {
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  color: #fff;
  width: 50%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}
.button.red-bg {
  background-color: rgba(175, 58, 58, 0.5);
}
.button.green-bg {
  background-color: rgba(59, 176, 63, 0.5);
}
.button.red-bg:hover {
  background-color: rgba(175, 58, 58, 0.8);
}
.button.green-bg:hover {
  background-color: rgba(59, 176, 63, 0.8);
}
.book-container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 20px;
}
.book-container .content .title {
  font-size: 30px;
  text-align: center;
}
.book-container .content .author {
  font-size: 16px;
  text-align: right;
  font-style: italic;
}
.book-container .pages-controller {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.3);
}
.book-container .pages-controller .button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.book-container .pages-controller .button.minus-gb {
  background-color: rgba(175, 58, 58, 0.8);
}
.book-container .pages-controller .button.minus-gb:hover {
  background-color: rgba(175, 58, 58, 1);
}
.book-container .pages-controller .button.plus-gb {
  background-color: rgba(59, 176, 63, 0.8);
}
.book-container .pages-controller .button.plus-gb:hover {
  background-color: rgba(59, 176, 63, 1);
}
.book-container .pages-controller .button.check-gb {
  background-color: rgba(63, 59, 176, 0.8);
}
.book-container .pages-controller .button.check-gb:hover {
  background-color: rgba(63, 59, 176, 1);
}
.book-container .pages-count {
  margin-top: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(64, 64, 64);
}
.book-container .pages-count h2 {
  width: 50%;
}
/* add button */
.add-button .plus {
  justify-self: center;
  align-self: center;
  font-size: 260px;
}
.add-button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(25, 88, 56, 0.5);
}
/* modal add */
.modal-add-wrapper,
.modal-edit-wrapper,
.modal-storage-selection-wrapper,
.modal-confirmation-selection-storage-wrapper,
.modal-confirmation-delete-library-wrapper {
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.modal-add,
.modal-edit,
.modal-storage-selection,
.modal-confirmation-selection-storage,
.modal-confirmation-delete-library {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(64, 64, 64, 0.8);
}
.modal-add .modal-title,
.modal-edit .modal-title,
.modal-storage-selection .modal-title,
.modal-confirmation-selection-storage .modal-title,
.modal-confirmation-delete-library .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  background-color: darkgreen;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}
.modal-add .options,
.modal-edit .options {
  display: flex;
}
.modal-add .options .button,
.modal-edit .options .button {
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  width: 50%;
  border: 0;
}
.modal-add .content,
.modal-edit .content,
.modal-storage-selection .content,
.modal-confirmation-selection-storage .content,
.modal-confirmation-delete-library .content {
  display: grid;
  padding: 20px 0;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: space-evenly;
}
.modal-add .content .element,
.modal-edit .content .element,
.modal-storage-selection .content .element,
.modal-confirmation-selection-storage .content .element,
.modal-confirmation-delete-library .content .element {
  position: relative;
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.modal-add .content .element .input,
.modal-edit .content .element .input {
  border: 0;
  color: #fff;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  padding: 0 0.5rem;
  height: 40px;
}
.modal-add .content .element .title,
.modal-edit .content .element .title {
  color: rgb(102, 102, 102);
  font-size: 20px;
  padding: 0.65rem 0.5rem;
  position: absolute;
  bottom: 0;
  transition: 1s;
}
.modal-add .content .element .input:focus ~ .title,
.modal-add .content .element .input:valid ~ .title,
.modal-edit .content .element .input:focus ~ .title,
.modal-edit .content .element .input:valid ~ .title {
  transform: translateY(-2.2rem) scale(0.9);
  color: rgb(86, 213, 255);
}
.modal-add .content .element .input.number,
.modal-edit .content .element .input.number {
  width: 50%;
}
/* checkbox */
.modal-add .content .element .completed-check,
.modal-edit .content .element .completed-check {
  display: flex;
}
.modal-add .content .element .input.check,
.modal-edit .content .element .input.check {
  transform: translateY(20px);
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 5px 1px rgb(62, 68, 68);
  width: 80px;
  height: 40px;
  border-radius: 20px;
}
.modal-add .content .element .input.check::before,
.modal-edit .content .element .input.check::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  left: 0;
  border-radius: 20px;
  box-shadow: 0 0 1px 2px rgb(105, 86, 86);
  background-color: rgb(56, 34, 34);
  transition-duration: 0.5s;
}
.modal-add .content .element .input.check:hover::before,
.modal-edit .content .element .input.check:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 1px 2px rgb(156, 132, 132);
  background-color: rgb(126, 30, 30);
}
.modal-add .content .element .input.check:checked::before,
.modal-edit .content .element .input.check:checked::before {
  box-shadow: 0 0 1px 2px rgb(110, 125, 175);
  background-color: rgb(7, 104, 136);
  left: 40px;
}
.modal-add .content .element .input.check:checked,
.modal-edit .content .element .input.check:checked {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 5px 1px rgb(83, 83, 83);
}
/* modal storage */
.modal-storage-selection-wrapper {
  background-color: rgba(0, 0, 0, 1);
}
.modal-storage-selection,
.modal-confirmation-selection-storage,
.modal-confirmation-delete-library {
  grid-template-rows: 1fr 7fr;
}
.modal-storage-selection .content,
.modal-confirmation-selection-storage .content,
.modal-confirmation-delete-library .content {
  grid-template-columns: 1fr 1fr;
}
.modal-storage-selection .content .element,
.modal-confirmation-selection-storage .content .element,
.modal-confirmation-delete-library .content .element {
  width: auto;
}
.modal-storage-selection .content .element .selection button,
.modal-confirmation-selection-storage .content .element .selection button,
.modal-confirmation-delete-library .content .element .selection button {
  width: 200px;
  height: 180px;
  color: #fff;
  font-size: 32px;
  border: 1px solid rgb(92, 92, 92);
  background-color: rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.modal-storage-selection .content .element .selection button:hover,
.modal-confirmation-selection-storage .content .element .selection button:hover,
.modal-confirmation-delete-library .content .element .selection button:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.4);
}
/* modal display (is flex: default) */
.display-none {
  display: none;
}
.input-validated {
  border-bottom: 2px solid rgba(0, 255, 0, 0.6) !important;
}
.input-not-validated {
  border-bottom: 2px solid rgba(255, 0, 0, 0.6) !important;
}
.validation-message {
  color: rgb(255, 111, 86) !important;
}
/* responsive  */
@media only screen and (max-width: 1720px) {
  .library-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1366px) {
  .library-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1090px) {
  .library-main {
    grid-template-columns: 1fr;
  }
}
/* phones */
@media only screen and (max-width: 760px) {
  .library-container {
    grid-template-areas:
      ' header header '
      'main main';
  }
  .library-main {
    grid-template-columns: 1fr;
  }
  .library-panel {
    display: none;
  }
}
/* firefox */
input:required {
  box-shadow: none !important;
}
